body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
}

* {
  font-family: 'Figtree', sans-serif;
}


.background {
  bbackground: rgb(0,182,122);
  background: linear-gradient(90deg, rgba(0,182,122,1) 0%, rgba(0,182,122,1) 54%, rgba(220,220,230,1) 54%, rgba(220,220,230,1) 100%);
}